.navbar{
	background-color: #4a4437;
	border: 0;
	border-radius: 0;
}
.navbar-brand{
  	font-size: 35px;
  	color: black;
  	padding-left: 25px;
}
.navbar-brand a:visited{
	color: black;
	text-decoration: none;
}
.navbar-brand a:hover{
	color: white;
	text-decoration: none;
}
.navbar-header button.navbar-toggle{
	border: 2px solid black;
}
.icon-bar{
	border: 2px solid black;
}
.navbar-nav{
	font-size: 25px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.mainHeading {
	color: black;
	text-align: center;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.row{
	width: 100%;
}


.box{
	width: auto;
	height: auto;
	position: relative;
	background-color: grey;
	margin: 20px;
	padding: 20px;
}
.item-heading h3{
	margin-top: 0;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: black;
}
.container p{
	text-align: justify;
	color: black;
}*/